body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(#FFB600 to #ffa100);
  margin: 0;
  padding: 0;
}
.container input[type="file"] {
  margin-bottom: 10px;
}
@media (max-width: 600px) {
  .container {
    padding: 10px;
  }
  button {
    width: 100%;
  }
}
